/* removendo o style */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Georgia;
    background-color: rgb(107, 123, 192)
}

h2{
    text-transform: uppercase;
}

p{
    margin-bottom: 15px;
}

.container{
    font-size: 20px;
    text-align: justify;
    max-width: 85%;
    background-color: #8390da;
    margin: 50px auto;
    padding: 5rem 6rem;

}


.img-title{
    background-image: url("../Img/und-capa.jpg");
    padding: 0px;
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
}

.bridge{
    padding: 20px 0;
}



.risco{
    text-decoration:line-through;
}



.flowey,
.image-side1{
    /*display: flex;*/
    display: inline-block;
    max-width: 750px;
    text-align:justify;
}

.image-side2{
    /*display: flex;*/
    display: inline-block;
    max-width: 750px;
    text-align:justify;
}


.flowey{
    position: absolute;
    right: 190px;
}

#flowey{
    height: 200px;
    width: 200px;
}


.toriel-livingroom{
    padding-top: 50px;
    text-align: center;
    font-size: 15px;
    margin-bottom: 5rem;
}



/*.continuing{
    padding: 50px 20px;
}
*/
.quotes-container{
    padding: 50px;
    margin: 5rem 2rem;
    border: 2px dashed blue;
}

.quotes-container blockquote{
    text-align: justify;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2rem;
}

.quotes-container p{
    font-style: italic;
}


.curiosities-container{
    padding: 50px 0px;
}

.curiosities-container li{
    height: 50px;
    margin: 5px 0;
}

.curiosities-container h2{
    margin-bottom: 2rem;
}

.moreinfo li{
    height: 50px;
}

.moreinfo h2{
    margin-bottom: 2rem;
}

a{
    color: #06177a;
    text-decoration: none;
    font-weight: 600;
}

/* reatividade */

/* notebooks pequenos */
@media (max-width: 1100px){

    .texto .image-side1{
        padding: 0 8rem 0 0;
    }

    #flowey{
        height: 150px;
        width: 150px;
    }

    .flowey{
        right: 140px;
    }
}


/* tablet */
@media (max-width: 900px){
    
    .toriel-livingroom img{
        height: 375px;
        width: 500px;
        padding-right: 2rem;
    }

    .flowey{
        right: 120px;
        top: 1075px;
    }

    .quotes-container blockquote{
        font-size: 24px;
        text-align: left;
        padding-left: 2rem;
    }

    .curiosities-container li{
        margin-bottom: 20px;
    }

}


/* celular */
@media (max-width: 576px){

    .img-title{
        height: 200px;
    }

    .container{
        width: 80%;
        padding: 2rem;
        font-size: 15px;
 
    }


    .toriel-livingroom{
        margin-bottom: 3rem;
        padding-top 2rem;
    }

    .toriel-livingroom img{
        width: 300px;
        height: 225px;
    }


    #flowey{
        height: 100px;
        width: 100px;
    }

    .flowey{
        top: 1100px;
        right: 47px;
    }

    .image-side1{
        padding: 0 !important;
        margin: 0 0 15px 0;
    }

    .image-side2{
        padding-right: 5rem;
    }

    .quotes-container{
        padding: 5rem 1rem 2rem;
        width: 100%;
        margin: 20px auto;
    }

    .quotes-container blockquote{
        font-size: 20px;
        padding-right: 1rem;
        text-align: center;
    }

    .moreinfo{
        text-align: left;
    }



}
